* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-input {
  width: 100%;
  background: url(./images/pattern-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-input h1 {
  color: white;
  margin: 2rem 0;
  text-align: center;
}

#ip-form {
  display: flex;
  width: 90%;
  max-width: 500px;
  margin-bottom: 6rem;
}

#ip-form input {
  flex: 1;
  padding: 12px 18px;
  border: none;
  outline: none;
  border-radius: 0.3rem 0 0 0.3rem;
}

#ip-form button {
  padding: 12px 18px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 0 0.3rem 0.3rem 0;
  font-weight: bold;
}

#result-display {
  position: absolute;
  top: 200px; /* Adjust based on your header height */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: white;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1.5rem;
  z-index: 9999;
}

#result-display p {
  color: #adb4bd;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#result-display p span {
  color: black;
  font-size: 16px;
  word-spacing: 1em;
  font-size: 1.2em;
}
#map {
  height: 400px;
}

@media (min-width: 768px) {
  .container-input {
    background: url(./images/pattern-bg-desktop.png);
    background-size: cover;
  }

  #ip-form {
    max-width: 550px;
  }

  #result-display {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
  }

  #result-display p {
    justify-content: start;
    border-right: 1px solid #cbd5e1;
    padding-right: 1rem;
  }

  #result-display p:last-child {
    border-right: none;
  }
}
