* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.container-input {
  width: 100%;
  background: url(./images/pattern-bg-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-input h1 {
  color: white;
  margin: 2rem 0 2rem 0;
}
#ip-form {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2rem;
}
#ip-form input {
  flex: 1;
  outline: none;
  min-width: 450px;

  padding: 12px 22px;
  border: none;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
#ip-form button {
  cursor: pointer;
  padding: 12px 18px;
  border: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  outline: none;
  background: black;
  color: white;
  font: bold;
  font-weight: bold;
}
#ip-form button:focus {
  outline: none;
}
